@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
:root{
  --primary : #424874;
  --secondary: #dcd6f7;
  --ternary: #f4eeff;
  --bg:#a6b1e1;
  --grey:#D8D8D8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  width: 350px;
  margin: 0 auto;
  background-color: var(--bg);
}
.wrapper {
  margin-top: 2rem;
  width: 100%;
  max-width: 960px;
  /* margin: 0 auto; */
}

form {
  /* outline: 1px solid lime; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
form input {
  width: 90%;
  padding: 0.9rem;
  border: none;
  font-size: 1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
form input:focus {
  outline: none;
}
form input,
textarea {
  background-color: var(--secondary);
}
form button {
  padding: 0.9rem;
  width: 30%;
  background-color: var(--primary);
  color: #fff;
  font-size: 1rem;
  border: none;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

/* bigger than 480px */
@media screen and (min-width: 480px) {
  .wrapper {
    margin-top: 5rem;
  }
  form {
    flex-direction: row;
  }
  form input {
    width: 320px;
  }
}

